@font-face {
    font-family: BreadleySans;
    src: url(fonts/BreadleySans-Regular.ttf);
}

body {
    background-color: rgb(230, 216, 181);
    height: 100px;
    width: 350px;
    background: no-repeat url(image/back.png);
}

#deleteUrl {
    display: grid;
    font-family: 'Lato';
    color: #FEFEFE;
    background: #f075dc;
    border-radius: 30px;
    border-color: antiquewhite;
    cursor: pointer;
    box-shadow: 0;
    margin:0px 70px 0px 70px;
  }

  #deleteUrl:hover {
    background-color: rgb(139, 132, 239);
}  

h1 {
    font-size: 30px;
    font-family: BreadleySans;
    text-align: center;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.website {
    background-color: rgba(234, 231, 220, 0.7);
    padding: 2px 2px 2px 2px;
    margin: 5px 5px 5px 5px;
}

#saveUrl {
    
    display: grid;
    font-family: 'Lato';
    color: white;
    background: #44987f;
    border-radius: 30px;
    border-color: antiquewhite;
    cursor: pointer;
    box-shadow: 0;
    margin:0px 70px 0px 70px;
    
  }
  
  #saveUrl:hover {
      background-color: rgb(228, 161, 17);
  }